body {
    font-family: 'Avenir', sans-serif;
    font-size: 14px;
}

@media (min-width: 1200px) {
    .container-small {
        width: 960px;
    }
}

.container-small {
    max-width: 100%;
}

a:link,
a:visited {
    color: #1d41e4;
}

a:link:active,
a:visited:active {
    color: #1d41e4;
    text-decoration: underline;
}

.hover-icon:hover {
    transform: scale(1.2);
}

h3 {
    font-weight: bolder;
}

.popover {
    max-width: 100%;
    /* Max Width of the popover (depending on the container!) */
}

.layered-paper-big {
    /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.35), /* The top layer shadow */
    5px 5px 0 0px #fff, /* The second layer */
    5px 5px 1px 1px rgba(0, 0, 0, 0.35), /* The second layer shadow */
    10px 10px 0 0px #fff, /* The third layer */
    10px 10px 1px 1px rgba(0, 0, 0, 0.35), /* The third layer shadow */
    15px 15px 0 0px #fff, /* The fourth layer */
    15px 15px 1px 1px rgba(0, 0, 0, 0.35), /* The fourth layer shadow */
    20px 20px 0 0px #fff, /* The fifth layer */
    20px 20px 1px 1px rgba(0, 0, 0, 0.35), /* The fifth layer shadow */
    25px 25px 0 0px #fff, /* The fifth layer */
    25px 25px 1px 1px rgba(0, 0, 0, 0.35);
    /* The fifth layer shadow */
    margin-left: 10px;
    margin-right: 45px;
}

ul {
    list-style-type: circle;
}